<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/dist/css/bootstrap.css">
    <script src="../static/dist/js/bootstrap.js"></script>
</head>
<body>
    <h1 class="text-center text-info">Welcome to the login page</h1>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 card shadow p-4">
            <form action="/login" method="post">
                <h4 class="text-center text-scondary">{{message}}</h4>
                <label>Email</label><br>
                <input 
                type="email"
                name="email"
                placeholder="Enter your email address"
                required
                class="form-control"><br>

                <label>Password</label><br>
                <input 
                type="password"
                name="password"
                placeholder="Enter your password"
                required
                class="form-control"><br><br>

                <input type="submit" value="Login" class="btn btn-primary"><br><br>

                <p>Don't have an account?<a href="/register">Register</a></p>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</body>
</html>