<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css">
    <script src="../static/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-primary text-center bg-warning p-4">Welcome to the Students Dashboard
            <span></span>
        </h1>
        <h2><p class="text-warning text-center">Hello, {{ name }}</p></h2>
          <a href="/logout" class="btn btn-primary">Logout</a>
    </div>
</body>
</html>